@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");
/*color pallete used: https://material.io/resources/color/#!/?view.left=0&view.right=1&primary.color=1e90ff&secondary.color=003187*/

html{
  font-family: Poppins, Georgia;
  font-size: 1.313em; /* 21px / 16px = 1.313em */
  line-height: 1.19047619em; /* 25px / 21px = 1.19047619em */
  padding: 0.79365079333em; /* 1 / 3 line-height */
  border: 0.3em outset lightgrey;
}

h1{
  font-size: 1.5em;
  line-height: 1.19047619em;
  font-weight: bold;
  text-align: center;
  background-color: #1e90ff;
  color: #FFFFFF;
  border-radius: 10px;
  padding-top: 1em;
  padding-bottom: 1em;
}

img.statue {
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  width: 20em;
}

img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  height: 10em;
}

ul {
  list-style-type: disc;
  padding-top: 0.5em;
  padding: 0.5em;
  margin-left: 1em;
}

p {
  padding-top: 1em;
}

footer {
  font-size: 100%;
  padding-left: 0.5em;
  padding: 0.5em;
  background-color: #1e90ff;
  color: #FFFFFF;
}

nav {
  list-style-type: none;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

nav li{
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 0.3em;
}

nav a{
  font-size: 1.6em;
  color: whitesmoke;
  text-decoration: none;
  display: block;
  border-radius: 1em;
  padding-block: 0.35em;
  margin-right: 0.5em;
  background-color: #003187;
}

nav a:hover{
  background-color: #0063cb;
}

/* Begin About Us */
#about-us-images{
  display: none;
}

#about-us-info-mobile{
  font-style: italic;
  text-align: center;
  border: 0.2em ridge lightgrey;
  padding: 0.3em;
}
#about-us-info{
  display: none;
}

.about-us-title{
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  margin-top: 0.5em;
  border-radius: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.2em;

  /* Important for the hover gradient effect */
  color: #14396A;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  border: 2px solid #003187;
  background: #6FC0FF;
  background: linear-gradient(to top, #6FC0FF, #468CCF);
}
.about-us-title:hover{
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(to top, #468CCF, #6FC0FF);
}

#about-us-content{
  display: none;
  border-block: 0.5em double blue;
  margin: 1em;
}
#about-us-content p{
  padding-block: 0.8em;
}
#about-us-content ul li{
  padding-block: 0.5em;
}

#about-us-history{
  display: none;
  border-block: 0.5em double blue;
  margin: 1em;
}
#about-us-history ul li{
  padding-block: 0.5em;
}

#about-us-constitition{
  display: none;
  border-block: 0.5em double blue;
  margin: 1em;
}
#about-us-constitition ul li{
  padding-block: 0.5em;
}
#about-us-constitition h5{
  padding-top: 0.8em;
}
.const-title{
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}
#about-us-constitition h6{
  font-size: 0.8em;
  padding-top: 0.8em;
  font-style: italic;
}

#about-us-journal{
  display: none;
  border-block: 0.5em double blue;
  margin: 1em;
}
#about-us-journal ul li{
  padding-block: 0.5em;
}
/* end about us */

/* Image above the footer on home page*/
img.human-rights{
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
}

footer{
  font-size: 85%;
  padding-left: 0.5em;
  margin-top: 1.5em;
  padding: 0.5em;
  background-color: #1e90ff;
  color: #FFFFFF;
}

#reserved{
  font-size: 70%;
  text-align: center;
}

#content h4{
  font-weight: bold;
  font-size: 120%;
}

#content #upcoming {
  padding-top: 1em;
}

#content #about {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

#content {
  padding: 0.5em;
  border: 0.3em solid #1e90ff;
}

#content li.breakfast, li.fun-run, li.seminar  {
 padding: 0.5em;
}

/*Here starts form css*/
fieldset{
  border-color: transparent;
}
#form-content{
  display: block;
  text-align: center;
}

.form-inputs{
  list-style-type: none;
}

input{
  border-color: transparent;
  background-color: #6fc0ff;
  overflow: visible;
  align-content: center;
  width: 90%

}
#label-inputs{
  text-align: center;
  padding-bottom: 1em;
}

label{
  display: block;
  justify-content: center;
  padding-bottom: 0.5em;
}

#reason{
  padding-bottom: 6em;
}

.contact-statement{
  padding-bottom: 0.5em;
}

#sub-button{
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 20px;
}

#res-button{
  border-radius: 20px;
}
/*Here ends form css*/

/*Here starts the media query css*/
@media screen and (min-width: 490px){
/*for form inputs*/
  input{
    width: 70%;
  }
  #sub-button, #res-button{
    width: 50%;
  }
}

@media screen and (min-width: 650px){
  h1{
    font-size: 1.75em;
  }

  nav a{
    margin-right: 0.5em;
  }

  img.human-rights{
    width: 20em;
  }
/*for form inputs*/
  input{
    width: 50%;
  }
  #sub-button, #res-button{
    width: 50%;
    /*margin-left: 7em*/
  }
}

@media screen and (min-width: 800px){
/*for form inputs*/
  input{
    width: 40%;
  }
  #sub-button, #res-button{
    width: 25%;
  }
}

@media screen and (min-width: 1024px){

  header{
    display: grid;
    grid-template-columns: 12em auto;
    gap: 10px;
    grid-auto-rows: 1rf 1fr;
  }

  h1{
    font-size: 2em;
    grid-column: 2/3;
    grid-row: 1/3;
    font-weight: bold;
    text-align: center;
    background-color: #1e90ff;
    color: #FFFFFF;
    border-radius: 0.6em;
    margin-top: 1.5em;
    padding-bottom: 0.1em;
    padding-top: 0.2em;
  }

  img.logo {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 12em;
    height: 12em;
  }

  nav{
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #003187;
    list-style-type: none;
    text-align: center;
    box-shadow: 0 0 25px 0 black;
    border-radius: 10px;
    margin-top: -3em;
    margin-left: 2em;
    margin-right: 2em;
  }

  nav li{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: none;
  }

  nav a{
    font-size: 1.2em;
    text-decoration: none;
    border-radius: none;
    margin-left: -0.5em;
    margin-right: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px 1px grey;
  }

  /* Image above the footer on home page*/
  img.human-rights{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
  }

  footer{
    font-size: 100%;
    padding-left: 0.5em;
    padding: 0.5em;
    background-color: #1e90ff;
    color: #FFFFFF;
    text-align: center;
  }

  #reserved{
    padding-top: 1em;
    font-size: 80%;
    text-align: center;
  }
  /* Begin About Us */
  #about-us-images{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  #about-us-images ul li{
    display: inline-block;
    padding-left: 0.5em;
  }
  #about-us-images img{
    width: 10em;
    border-left: 0.15em solid #6fc0ff;
    box-shadow: 4px 4px 7px black;
  }
/*for form inputs*/
  input{
    width: 30%;
  }
  #sub-button, #res-button{
    width: 20%;
  }
}

@media screen and (min-width: 1176px){
  h1{
    padding-block: 0.5em;
  }
  nav{
    margin-top: -3em;
  }

  /* Begin About Us */
  #about-us-images img{
    width: 11em;

  img.statue {
    width: 30em;
  }

  h1 {
    font-size: 175%;
  }

  nav a {
    font-size: 150%;
  }
/*for form inputs*/
  input{
    width: 25%;
  }
  #sub-button, #res-button{
    width: 15%;
  }
}

@media screen and (min-width: 1700px) {
  h1{
    width: 32.5em;
    font-size: 200%;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
  }
  nav{
    width: 60.75em;
    margin-left: auto;
    margin-right: auto;
  }
  header {
  align-items:center;
  justify-content:center;
}
  #content{
    width: 77em;
    margin-left: auto;
    margin-right: auto;
  }
/*for form inputs*/
  input{
    width: 20%;
  }
  #sub-button, #res-button{
    width: 12%;
  }
}
