
html{
  font-family: Times, Georgia;
  font-size: 1.313em; /* 21px / 16px = 1.313em */
  line-height: 1.19047619em; /* 25px / 21px = 1.19047619em */
  padding: 0.79365079333em; /* 1 / 3 line-height */
  border: 0.3em outset lightgrey;
}

h1{
  font-size: 1.5em;
  line-height: 1.19047619em;
  font-weight: bold;
  text-align: center;
  background-color: #1e90ff;
  color: #FFFFFF;
  border-radius: 10px;
  padding-top: 1em;
  padding-bottom: 1em;
}

img.statue {
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  width: 20em;
}

img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  height: 10em;
}

ul {
  list-style-type: disc;
  padding-top: 0.5em;
  padding: 0.5em;
  margin-left: 1em;
}

p {
  padding-top: 1em;
}

footer {
  font-size: 100%;
  padding-left: 0.5em;
  padding: 0.5em;
  background-color: #1e90ff;
  color: #FFFFFF;
}

nav {
  list-style-type: none;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

nav li{
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 0.3em;
}

nav a{
  font-size: 1.2em;
  color: whitesmoke;
  text-decoration: none;
  display: block;
  border-radius: 1em;
  padding-block: 0.35em;
  margin-left: 2em;
  margin-right: 2em;
  background-color: #003187;
}

nav a:hover{
  background-color: #0063cb;
}

/* Image above the footer on home page*/
img.human-rights{
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
}

footer{
  font-size: 85%;
  padding-left: 0.5em;
  padding: 0.5em;
  background-color: #1e90ff;
  color: #FFFFFF;
}

#reserved{
  font-size: 70%;
  text-align: center;
}

@media screen and (min-width: 650px){
  h1{
    font-size: 1.75em;
  }

  nav a{
    margin-left: 4em;
    margin-right: 4em;
  }

  img.human-rights{
    width: 20em;
  }
}

/*Here ends form css*/
@media screen and (min-width: 1024px){

  header{
    display: grid;
    grid-template-columns: 12em auto;
    gap: 10px;
    grid-auto-rows: 1rf 1fr;
  }

  h1{
    font-size: 2em;
    grid-column: 2/3;
    grid-row: 1/3;
    font-weight: bold;
    text-align: center;
    background-color: #1e90ff;
    color: #FFFFFF;
    border-radius: 0.6em;
    margin-top: 1.5em;
    padding-bottom: 0.1em;
    padding-top: 0.2em;
  }

  img.logo {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 12em;
    height: 12em;
  }

  nav{
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #003187;
    list-style-type: none;
    text-align: center;
    box-shadow: 0 0 25px 0 black;
    border-radius: 10px;
    margin-top: -3em;
    margin-left: 2em;
    margin-right: 2em;
  }

  nav li{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: none;
  }

  nav a{
    font-size: 1.2em;
    text-decoration: none;
    border-radius: none;
    margin-left: -0.5em;
    margin-right: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px 1px grey;
  }

  /* Image above the footer on home page*/
  img.human-rights{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
  }

  footer{
    font-size: 100%;
    padding-left: 0.5em;
    padding: 0.5em;
    background-color: #1e90ff;
    color: #FFFFFF;
    text-align: center;
  }

  #reserved{
    padding-top: 1em;
    font-size: 80%;
    text-align: center;
  }
}

@media screen and (min-width: 1176px){
  h1{
    padding-block: 0.5em;
  }
  nav{
    margin-top: -3em;
  }
  img.statue {
    width: 30em;
  }

  h1 {
    font-size: 200%;
  }

  nav a {
    font-size: 150%;
  }
}

@media screen and (min-width: 1665px) {
  h1 {
    position: fixed;
    text-align: center;
    padding-block: 0.5em;
    padding-left: 6em;
    padding-right: 6em;
  }
  nav {
    position: fixed;
    margin-left: 15.5em;
    margin-top: 9.5em;
    padding-left: 15em;
    padding-right: 15em;
  }
  img.logo {
    padding-bottom: 2em;
  }
}
