@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

html {
  font-family: Poppins, "Hoefler Text", Georgia, "Times New Roman", Times, Roman, serif;
  background: #FFFFFF;
  font-size: 1.125em;
}

h1 {
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  background-color: #1e90ff;
  color: #FFFFFF;
  margin-bottom: 6em;
  margin-left: 2em;
  margin-top: 3em;
}

h2 {
  text-align: center;
  font-size: 75%;
  font-weight: bold;
  margin-bottom: 1em;
  color: #1e90ff;
}

h3 {
  text-align: center;
  font-weight: bold;
}

img.logo {
  padding-top: 1em;
  padding-left: 2em;
  width: 10em;
  height: 10em;
}

img.human-rights {
  padding-left: 1em;
  width: 20em;
}

footer {
  margin-top: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  background-color: #1e90ff;
  color: #FFFFFF;
}


nav {
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  display: table;
}

li.nav-buttons {
  list-style-type: none;
}

.front {
  display: flex;
  flex-wrap: wrap;
}
