
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

html {
  font-family: Poppins, "Hoefler Text", Georgia, "Times New Roman", Times, Roman, serif;
  background: #FFFFFF;
  font-size: 0.75em;
  padding: 1em;
}

#content{
  padding-top: 2em;
}

h1 {
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  background-color: #1e90ff;
  color: #FFFFFF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

h4 {
  font-weight: bold;
  padding: 0.5em;
}

img.logo {
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  width: 10em;
  height: 10em;
}

img.human-rights {
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 20em;
}

li {
  list-style-type: disc;
  padding-top: 0.5em;
  padding: 0.5em;
}

footer {
  font-size: 100%;
  padding-left: 0.5em;
  padding: 0.5em;
  background-color: #1e90ff;
  color: #FFFFFF;
}

nav {
  background-color: #1e90ff;
  list-style-type: none;
  text-align: center;
  box-shadow: 0 0 25px 0 black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 2em;
}

nav li {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white;
}
/*Here starts form css*/
/*.contact-header{
  justify-content: center;
  margin-bottom: -3em;
}*/
/*
fieldset{
  border-color: transparent;
}
#form-content{
  display: block;
  text-align: center;
}

.form-inputs{
  list-style-type: none;
}

input{
  font-family: Poppins, "Hoefler Text", Georgia, "Times New Roman", Times, Roman, serif;
  border-color: transparent;
  background-color: #8FC8FF;
  overflow: visible;
  align-content: center;
  padding-bottom: 0.5em;
}
label{
  padding-top: 1em;
  display: block;
  justify-content: center;
}
#reason{
  padding-bottom: 6em;
}
.contact-statement{
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 1em;
  color: #1e90ff;
  float: center;
}
.sub-button{

}
/*Here ends form css*/

@media screen and (min-width:340px) {
  h1 {
    font-size: 45%;
  }

  h2 {
    font-size: 35%;
    margin-top: 7em;
    margin-left: 25em;
  }

  h3 {
    font-size: 45%;
    margin-top: 12em;
  }

  main {
    font-size: 45%;
  }

  img.logo {
    height: 4em;
    width: 4em;
  }

  nav {
    height: 1.5em;
  }

  nav ul {
    font-size: 45%;
    float: none;
    display: inline-block;
    text-align: center;
    margin-top: -5em;
  }
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 75%
  }

  h2 {
    font-size: 50%;
    margin-top: 1.3em;
    margin-left: 22em;
  }

  h3 {
    font-size: 75%;
    margin-top: 3em;
  }

  main {
    font-size: 75%;
  }

  img.logo {
    width: 4em;
    height: 4em;
  }

  nav {
   height: 3em;
   scale: 75%;
  }

  nav ul {
  font-size: 100%;
  float: none;
  display: inline-block;
  text-align: center;
  margin-top: -5em;
}
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 150%
  }

  h2 {
    font-size: 100%;
    margin-top: -4em;
    margin-left: 21em;
  }

  h3 {
    font-size: 100%;
    margin-top: 3em;
  }

  main {
    font-size: 100%;
  }

  img.logo {
    width: 8em;
    height: 8em;
  }

  nav {
    height: 3em;
    padding-top: 1em;
  }

  nav ul {
  font-size: 125%;
  float: none;
  display: inline-block;
  text-align: center;
  margin-top: -5em;
  }

}
