@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

html {
  font-family: Poppins, "Hoefler Text", Georgia, "Times New Roman", Times, Roman, serif;
  background: #FFFFFF;
  font-size: 1.125em;
}
