
html{
  font-family: Times, Georgia;
  font-size: 1.313em; /* 21px / 16px = 1.313em */
  line-height: 1.19047619em; /* 25px / 21px = 1.19047619em */
  padding: 0.79365079333em; /* 1 / 3 line-height */
  border: 0.3em outset lightgrey;
}

header{

}

h1{
  font-size: 1.5em;
  line-height: 1.19047619em;
  font-weight: bold;
  text-align: center;
  background-color: #1e90ff;
  color: #FFFFFF;
  border-radius: 10px;
  padding-top: 1em;
  padding-bottom: 1em;
}

img.statue {
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  width: 20em;
}

img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  height: 10em;
}

nav{
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 20em;
}

ul {
  list-style-type: disc;
  padding-top: 0.5em;
  padding: 0.5em;
  margin-left: 1em;
}

p {
  padding-top: 1em;
}

footer {
  font-size: 100%;
  padding-left: 0.5em;
  padding: 0.5em;
  background-color: #1e90ff;
  color: #FFFFFF;
}

nav {
  background-color: #1e90ff;
  list-style-type: none;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

nav li{
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 0.3em;
}

nav a{
  font-size: 1.2em;
  color: whitesmoke;
  text-decoration: none;
  display: block;
  border-radius: 1em;
  padding-block: 0.35em;
  margin-left: 2em;
  margin-right: 2em;
  background-color: #003187;
}

/* Image above the footer on home page*/
img.human-rights{
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
  width: 15em;
}

footer{
  font-size: 85%;
  padding-left: 0.5em;
  padding: 0.5em;
  background-color: #1e90ff;
  color: #FFFFFF;
}

#reserved{
  font-size: 70%;
  text-align: center;
}

@media screen and (min-width: 1024px){

  header{
    display: grid;
    grid-template-columns: 10em auto;
    gap: 10px;
    grid-auto-rows: 1rf 1fr;
  }

  h1{
    grid-column: 2/3;
    grid-row: 1/3;
    font-weight: bold;
    text-align: center;
    background-color: #1e90ff;
    color: #FFFFFF;
    border-radius: 10px;
    margin-top: 4em;
  }

  img.logo {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 10em;
    height: 10em;
  }

  nav{
    grid-row: 2/3;
    grid-column: 1/3;
    background-color: #1e90ff;
    list-style-type: none;
    text-align: center;
    box-shadow: 0 0 25px 0 black;
    border-radius: 10px;
    margin-top: 2em;
/*Here ends form css*/

@media screen and (min-width: 1024px) {

  main {
    font-size: 125%;
  }

  img.logo {
    width: 20em;
    height: 20em;
  }

  img.statue {
    width: 30em;
  }

  h1 {
    font-size: 200%;
  }

  nav a {
    font-size: 150%;
  }
}
